confirmation screen is not shown following login

In response to your fix for #64, I updated my [oauth provider app](https://github.com/domurtag/oauth2-provider) to use version 2.0-SNAPSHOT of the plugin and changed the [client app](https://github.com/domurtag/oauth-client) to include the `scope` param in the request to the access token endpoint.

When I click on the oauth login link in the client app, I am shown the login form. Once I submit this form I am redirected back to the homepage of the provider app instead of being shown the confirmation dialog. When using version 2.0-RC2, I was correctly show the confirmation dialog, and then redirected back to the client after clicking this dialog's  "Authorize" button.

You can reproduce the error by downloading the [provider](https://github.com/domurtag/oauth2-provider) and [client](https://github.com/domurtag/oauth-client) apps and following these instructions:

 - Start the provider app with `grails run-app`
 - Start the client app on port 9090 with `grails run-app -Dserver.port=9090`
 - On the homepage of the client app click the "OAuth Login" link. Enter the username "me" and password "password" in the login form and submit it.

It looks like the last [change](https://github.com/bluesliverx/grails-spring-security-oauth2-provider/commit/7f60b1dbbe9ac5f5daee234f566f0b130dd3c225) I made to resolve an issue affecting the statelessness of some requests I had seen is the root cause. 

You'll have to tweak your filter chain thus:

```groovy
grails.plugin.springsecurity.filterChain.chainMap = [
        '/oauth/token': 'JOINED_FILTERS,-oauth2ProviderFilter,-securityContextPersistenceFilter,-logoutFilter,-rememberMeAuthenticationFilter,-exceptionTranslationFilter',
        '/securedOAuth2Resources/**': 'JOINED_FILTERS,-securityContextPersistenceFilter,-logoutFilter,-rememberMeAuthenticationFilter,-exceptionTranslationFilter',
        '/**': 'JOINED_FILTERS,-statelessSecurityContextPersistenceFilter,-oauth2ProviderFilter,-clientCredentialsTokenEndpointFilter,-oauth2ExceptionTranslationFilter'
]
```

Once you change that in your provider app, you'll receive a "Redirect URI mismatch" error because your client app is not including the same `redirect_uri` to the token endpoint that it presented to the authorization endpoint per [RFC 6749 Section 4.1.3.](http://tools.ietf.org/html/rfc6749#section-4.1.3)

Hope that helps!

Thanks a lot, I made (and pushed) the changes you suggested and it works now. Incidentally, I'm surprised that I need to provide the `redirect_uri` param when submitting a request to the token endpoint. because [this example in the docs](http://bluesliverx.github.io/grails-spring-security-oauth2-provider/docs/guide/exampleFlows.html#authorizationCode) does not include it.

I took a quick look at the existing tests and we don't have one that covers this scenario. I'm reopening this as a reminder to add a test case.

I added a [test](https://github.com/bluesliverx/grails-spring-security-oauth2-provider/commit/8a6e47b0089fc0f7ad7049b4f9dde28796831a51) to exercise this functionality.

@domurtag The reason the docs do not include the `redirect_uri` in the token request is because it was not included in the original authorization request. See [RFC 6749 Section 4.1.1](http://tools.ietf.org/html/rfc6749#section-4.1.1).